* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    backdrop-filter: blur(90px);

}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 45px;

}

.nav ul li {
    color: white;
    font-size: 12px;
    cursor: pointer;

}

.nav ul li a {
    text-decoration: none;
    color: black;
}

.navoffer {
    margin-top: 55px;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}

.addimg {
    background-image: url(./img/2\ -\ Copy.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 50px;
    line-height: 40px;

}

.addimg a {
    text-decoration: none;
    color: black;


}

.button {
    padding: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.butt {
    border: transparent;
    padding: 10px;
    border-radius: 30px;
    width: 140px;
    height: 45px;
    font-size: 18px;

}

.butt1 {
    background-color: rgb(0, 89, 255);
    color: white;
}

.butt2 {
    border: 1px solid rgb(0, 89, 255);
    color: rgb(0, 89, 255)
}

.butt2:hover {
    background-color: rgb(0, 89, 255);
    color: white;
}

.addimg-2 {
    background-image: url(./img/4.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-top: 50px;
    line-height: 40px;


}

.addimg-2 a {
    text-decoration: none;
    color: black;
}

.addimg-3 {
    background-image: url(./img/5.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

    justify-content: center;
}

.addimg-3cont {
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;

}

.addimg-img {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 450px;
    left: 190px;

}

.addimg-content {
    border: 1px solid rgb(0, 89, 255);
    height: 130px;
    width: 230px;
    background: rgb(0, 89, 255);
    border-radius: 30px;
    padding: 20px;


}

.addimg-content a {
    color: white;
    font-size: 25px;
    font-weight: large;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;

}

.addimg-content-2 {
    border: 1px solid rgb(0, 89, 255);
    height: auto;
    width: 230px;
    background: rgb(0, 89, 255);
    border-radius: 40px;
    padding: 20px;
}

.addimg-content-2 a {
    color: white;
    font-size: 15px;
    font-weight: large;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;

}

.addimg-content-3 {
    border: 1px solid rgb(0, 89, 255);
    height: 170px;
    width: 230px;
    background: rgb(0, 89, 255);
    border-radius: 30px;
    padding: 20px;

}

.addimg-content-3 a {
    color: white;
    font-size: 25px;
    font-weight: large;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;

}

.addimg-3-button button {
    border: 1px solid blue;
    border-radius: 50px;
    margin-top: 50px;
    padding: 20px;
    color: blue;
    width: 150px;
}

.addimg-3-button button:hover {
    color: white;
    background-color: blue;
}

.product1 {
    background: url(./img/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product2 {
    background: url(./img/tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product3 {
    background: url(./img/mac.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product4 {
    background: url(./img/watch.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product5 {
    background: url(./img/pods.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product6 {
    background: url(./img/trade.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product {
    height: 580px;
    width: auto;

}

.apple-product {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

#fline {
    font-size: 30px;
    color: white;
}

#sline {
    color: white;
}

.product a {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.pro1 {
    margin-top: 360px;

}

.apple-button-1 {
    border: 1px solid blue;
    border-radius: 50px;
    margin-top: 18px;
    padding: 8px;
    background-color: blue;
    color: white;
    width: 120px;
    font-size: 15px;
}

.apple-button-2 {
    border: 1px solid blue;
    border-radius: 50px;
    margin-top: 18px;
    padding: 8px;
    color: blue;
    width: 90px;
    font-size: 15px;
}

.apple-button {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pro2 {
    margin-top: 40px;
}

#linef {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 500;
}

#lines {
    color: black;
}