body {
    margin: 0;
    padding: 0;

}
.navbar{
font-size: 12px;
color: black;


}
.navbar li{
list-style: none;
}
.dropdown-content ul{
    color: white;
    position: relative;
    left: 200px;
    top: 40px;
    line-height: 33px;
    
}
.dropdown-content a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
  position: relative;
}
.dropdown-content-store {
opacity: 0;
    position: absolute;
    left: 0;
    transition: all 0.5s ease-in-out;
    background: black;
    height: auto;
    padding-bottom: 100px;
    width: 100%;
    
 

}
 .submenu:hover .dropdown-content-store {
 opacity: 1;
   

}






 